<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>surat</title>
    <style>
        table tr td {
            font-size: 14px;
        }
        table tr td img{
            width: 96px;
            height: 96px;
        }    
        table tr td{
            line-height: 1px;
        }
        .tgl{
            width: 680px;
        }
        .tgl tr td{
            text-align: right;
        }
        .yth tr td p{
            line-height: 5px;
        }
        table tr .paraf p{
            text-align: center;
            line-height: 45px;
            padding: 3px;
        }
    </style>
</head>
<body>
    <center>
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td><img src="img/logo.png" alt="logo" srcset=""></td>
                <td>
                    <center>
                        <h3><i>Yayasan teratai Putih Global</i></h3>
                        <h1><b>SMK TERATAI PUTIH GLOBAL 2 BEKASI</b></h1>
                        <h4>BIDANG KEAHLIAN BISNIS MANAJEMEN & TEKNIK INFORMASI KOMUNIKASI</h4>
                        <h6>KOMPENTENSI KEAHLIAN : AKUNTANSI & KEUANGAN LEMBAGA,BISNIS DARING & PEMASARAN,<h6>
                        <h6>OTOMATISASI TATA KELOLA PERKANTORAN, REKAYASA PERANGKAT LUNAK,MULTIMEDIA,PERBANGKAN & KEUANGAN MIKRO</h6>
                        <h4>Jl. Rajawali 5 No. 29 Perumnas 1 Bekasi Selatan Telp. (021) 8894749</h4>
                    </center>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr size="3px" color="black"></td>
            </tr>
            <tr>
                <td colspan="2"><p align="center"><b>STATUS TERAKREDITASI "A" (Amat Baik)</b></p></td>
            </tr>
            <tr>
                <td colspan="2"><hr size="1px" color="black"></td>
            </tr>
            <tr>
                <td colspan="2"><hr size="3px" color="black"></td>
            </tr>
        </table>
        <table class="tgl"> 
            <tr>
                <td><p>Bekasi, 22 Oktober 2020</p></td>
            </tr>
        </table>
        <table >
            <tr>
                <td><p>Nomor</p></td>
                <td> :</td>
                <td width="600"><p>87/900/099</p></td>
            </tr>
            <tr>
                <td><p>Lampiran</p></td>
                <td> :</td>
                <td width="600"><p>-</p></td>
            </tr>
            <tr>
                <td></p>Perihal</p></td>
                <td> :</td>
                <td width="600"><p>Lorem ipsum dolor sit amet consect</p></td>
            </tr>
            <tr>
                <td></td>
                <td>  </td>
                <td width="600"><p>Lorem ipsum dolor sit</p></td>
            </tr>
        </table>
        <table width="670" class="yth"> 
            <tr>
                <td>
                    <p>Kepada Yth,</p>
                    <p>Bapak/Ibu</p>
                    <p>Teratai Putih Global 2 Bekasi</p> 
                    <p>Di Tempat</p>
                </td>
            </tr>
        </table>
        <table width="670" class="yth"> 
            <tr>
                <td>
                    <p><i>Assalamualaikum</i></p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maiores minima illum nostrum possimus, doloribus</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maiores minima illum nostrum possimus, doloribus</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maiores minima illum nostrum possimus, doloribus</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maiores minima illum nostrum possimus, doloribus</p>
                    <br>
                    <p>Demikian Surat ini kami buat, atas perhatian dan kerjasamanya diucapkan terimakasih</p> 
                    <br>
                    <p><i>Wassalamualaikum Wr, Wb</i></p>
                </td>
            </tr>
            <br>
            <table width="630">
                <td width="400"></td>
                <td class="paraf"><p>Kepala Jurusan</p><p>Ahmad Amin Iswanto</p></td>
            </table>
        </table>
    </center>
</body>
</html>